@font-face {
    font-family: BiennaleBold;
    src: url('BiennaleBold.otf') format('opentype');
}

@font-face {
    font-family: BiennaleLight;
    src: url('BiennaleLight.otf') format('opentype');
}

@font-face {
    font-family: BiennaleRegular;
    src: url('BiennaleRegular.otf') format('opentype');
}

@font-face {
    font-family: BiennaleMedium;
    src: url('BiennaleMedium.otf') format('opentype');
}
