<section [ngClass]="['containerPagePublic', classCss]">
  <div [ngClass]="['containerLogo', classCssLogo]">
    <img src="assets/icon/Logo.svg" alt="Logo devaria" class="logo" />
  </div>
  <div class="containerContent">
    <form>
      <ng-content select="[contentForm]"></ng-content>

      <app-button-public
        [text]="textBtnSubmit"
        type="submit"
        classCss="btnPublic"
        (click)="onSubmit()"
      >
      </app-button-public>
    </form>
    <ng-content select="[footer]"></ng-content>
  </div>
</section>
