@import '../../../../assets/styles/variables.scss';

.containerFeed {
	width: 100%;

	.containerPosts {
		background-color: var(--branco);
		height: auto;
		a {
			text-decoration: none;
		}

		.headerPost:nth-child(1) {
			margin-top: 8px;
		}

		.headerPost {
			display: flex;
			align-items: center;
			margin: 0 0 0 12px;

			strong.nameUser{
				font-size: 16px;
				color: var(--corCinza04);
				font-weight: 600;
			}

		}

		.post {
				margin: 2px 0 45px 0px;

				>img {
					width: 100%;
					max-width: 390px;
					object-fit: cover;
				}

				strong.nameUser {
					float: left;
					margin-right: 3px;
					color: var(--corCinza04);
					font-size: 14px;
					font-weight: 600;
				}

				.footerPost{
					margin-bottom: 5px;
					padding: 0 10px;

					.actionPost {

						.icons {
							display: flex;
							align-items: center;
							margin: 10px 12px;

							img:last-of-type {
								margin-left: 12px;
								margin-right: 12px;
							}

							> span, > strong {
								margin-left: 2px;
								font-size: 12px;
							}
						}

					}
					.infoPost {
						margin-bottom: 4px;

						> strong.nameUser {
							margin-right: 5px;
						}

						> p.description {
							margin-right: 5px;
						}
					}

					.comments {
						> strong.nameUser {
							margin-right: 5px;
						}

						> p.description {

						}
					}
				}

		}

		}

		@media screen and (min-width: $breakpoint) {
			.containerPosts {
				width: 40%;
				margin: auto;
				background-color: var(--branco);

				.headerPost:nth-child(1) {
					margin-top: 0;
					padding: 8px;
				}

				.post {
					margin: 0;
				}

				.headerPost{
					margin: 0 0 0 6px;
				}

				.post {

					> img {
						width: 100%;
						max-width: 666px;
					}
					.footerPost {
						.actionPost {
							.icons {
								> img {
									width: 28px;
									height: 28px;
								}
								> span {
									font-size: 14px;
									margin-left: 10px;
									color: var(--corCinza04);
								}
								> strong {
									font-size: 14px;
									font-weight: 600;
								}
							}
						}

						.infoPost {
							> strong.nameUser {
								font-size: 14px;
								color: var(--corCinza04);
							}
							> p.description {
								font-size: 14px;
								color: var(--corCinza04);
							}

						}

						.comments {
							> strong.nameUser {
								font-size: 14px;
								color: var(--corCinza04);
							}
							> p.description {
								font-size: 14px;
								color: var(--corCinza04);
							}
						}

					}
				}

				strong.nameUser {
					margin-right: 5px;
				}

			}
		}
	}
