.classFooter {
    text-align: center;
    margin-top: 24px;

    p {
        color: var(--corCinza03);
        margin: 0px 0px 2px;
    }

    a {
        color: var(--corPrimaria02);
        font-family:  var(--fontBold);
    }
}
