@import '../../../assets/styles/variables.scss';

.barNavigation{

	ul {
		display: flex;
		justify-content: space-around;
		padding: 8px 0 8px;
		margin: 0;

		li {
			list-style: none;
		}
	}

	@media screen and (min-width: $breakpoint) {
			ul {
				margin: 0 36px;
				& li:nth-child(2) {
					margin: 0 20px;
				}
				& li {
					> img {
						width: 24px;
						height: 27px;
					}
				}
			}
	}
}
