<div class="container__inputsLogin">
    <div class="inputPublico">
        <img
        class="iconInput"
        [src]="image"
        alt="imagem do input"
        width="20px"
        height="20px"
        >

        <input 
        [type]="type"
        [ngModel]="referenceForm?.value"
        [placeholder]="placeHolder"
        (ngModelChange)="onChanged($event)"
        >
    </div>

    <p *ngIf="referenceForm?.invalid && referenceForm?.dirty" class="msgError">
        {{ obtainErrorMessage }}
    </p>
</div>
