/* You can add global styles to this file, and also import other style files */
@import './assets/fonts/fonts.scss';
@import './assets/styles/variables.scss';

// RESET GLOBAL
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--fontRegular);
  font-size: 14px;
}

body,
html {
  height: 100%;
}

:root {
  //Fonts do site
  --fontRegular: BiennaleRegular;
  --fontMedium: BiennaleMedium;
  --fontBold: BiennaleBold;
  //Paleta de cores padrão
  --corPrimaria02: #5E49FF;
  --corPrimaria03: #25CBD3;
  --corPrimaria04: #F0F5FF;
  --branco: #FFF;
  --corCinza00: #F4F4F4;
  --corCinza01: #DADADA;
  --corCinza02: #7C7786;
  --corCinza03: #4D4C4D;
  --corCinza04: #333333;
  --vermelho: #FF0000
}

input {

  &::placeholder,
  &:-ms-input-placeholder,
  &::-ms-input-placeholder {
    color: var(--corCinza02);
  }

}

.hidden {
  display: none;
}

.msgError {
  color: var(--vermelho);
  margin: 5px 0 0;
  font-size: 85%;
}

.desktop {
  display: none;

  @media screen and (min-width: $breakpoint) {
    display: block;
  }
}

.mobile {
  display: block;

  @media screen and (min-width: $breakpoint) {
    display: none !important;
  }
}

body {
  @media screen and (min-width: $breakpoint) {
    background-color: var(--corCinza00);
    background-image: url(/assets/icon/fundoDesktop.svg);
  }
}

.layoutInterno {
  display: flex;
  flex-direction: column;
  height: 100%;

  .contentInterno{
    flex: 1;
  }
}

